__pycache__/
.venv/
build/
dist/
pcg_server.egg-info/
secrets/

# browser always makes requests to GET /favicon.ico, 
# which makes uvicorn complain. I added an assets/
# folder with a dummy favicon file to serve these requests,
# but I don't want it in version control so I am ignoring it
assets/ 

db*.txt